* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFE4C5;
    margin-bottom: 65px;
}


.wrapper {
    background-color: white;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1;
    align-items: center;
}

.logo {
    vertical-align: top;
    margin-left: 4%;
}

.titre {
    color: rgb(1, 23, 82);
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.titre > a {
    text-decoration: none;
}

.connexion {
    
    text-decoration: none;
    background-color: #29ABE2;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: auto;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    font-family: "Roboto", sans-serif;
}

.connexion:hover {
    transform: scale(1.05);
}

.connexion:active {
    background-color: #F5AD5B;
}

.connexion:hover {
    transform: scale(1.05);
}

.connexion:active {
    background-color: #F5AD5B;
}

.titres {
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 30px;
}

.fondForm {
    margin: auto;
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 30px;

}

textarea {
    resize: none;
    width: 230%;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 2px solid #c9c9c9;
    outline-color: #29ABE2;
}

.textAreaRecap {
    resize: none;
    width: 230%;
    border-radius: 5px;
    background-color: #e8ecf7;
    border: 2px solid #c9c9c9;
}

.tabOffre {
    display: grid;
    padding: 25px;

}

td {
    text-align: start;
    /* padding: 3px; */
}

.etoile {
    color: red;
}

.champs {
    width: 230%;
    height: 25px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 2px solid #c9c9c9;
    outline-color: #29ABE2;
}

.champsRecap {
    width: 230%;
    height: 25px;
    border-radius: 5px;
    background-color: #e8ecf7;
    border: 2px solid #c9c9c9;
}



.boiteTexte {
    height: 25px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 2px solid #c9c9c9;
    outline-color: #29ABE2;
}

.date {
    height: 25px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 2px solid #c9c9c9;
    outline-color: #29ABE2;
}

.dateRecap {
    height: 25px;
    border-radius: 5px;
    background-color: #e8ecf7;
    border: 2px solid #c9c9c9;
}

label {
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100%;
}

.champsObl {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    height: 100%;
}

.btnSuivant {
    margin-top: 30px;
    background-color: #29ABE2;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    margin-left: 55%;
}

.btnSuivant:hover {
    transform: scale(1.05);
}

.btnSuivant:active {
    background-color: #F5AD5B;
}

.grilleBoutons {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 50px;
    column-gap: 6%;
    row-gap: 15px;
    justify-content: space-between;

}
.grilleBoutons > .infoRechercheOffre{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    
}

.grilleBoutons > .infoRechercheOffre > .recherche {
    grid-row: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grilleBoutons > .infoRechercheOffre > .recherche > .barreDeRechercheOffre {
    grid-column: 1;
}

.grilleBoutons > .infoRechercheOffre > .recherche > .boutonRechercher {
    vertical-align: middle;
    grid-column: 2;
}

.grilleBoutons > .infoRechercheOffre > .criteresRecherche {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grilleBoutons > .infoRechercheOffre > .criteresRecherche > .critDateDeDebut {
    grid-column: 1;
}

.grilleBoutons > .infoRechercheOffre > .criteresRecherche > .critDateDeFin {
    grid-column: 2;
}

.grilleBoutons > .infoRechercheOffre > .criteresRecherche > .critVille {
    grid-column: 3;
}

.grilleBoutons > .infoRechercheOffre > .criteresRecherche > .critDomaineAct {
    grid-column: 4;
}

.grilleBoutons > .InfoEtudiant{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-auto-rows: minmax(10px, auto);
}

.grilleBoutons > .InfoEtudiant > .messagesEtudiant {
    grid-row: 1;
}

.recapOffre {
background-color: #4FAFDE;
border-radius: 5px;
margin-top: 5px;
padding: 5px;
text-align: center;
}



.boutonDeposerOffre {
    grid-column: 1 / 4;
    grid-row: 1;
}

.barreDeRechercheOffre {
    grid-column: 1 / 3;
    grid-row: 1;
}

.boutonRechercher {
    grid-column: 3;
    grid-row: 1;
}

.boutonMesMessages {
    grid-column: 4;
    grid-row: 1;
}

.labelCriteres {
    grid-column: 1 / 4;
    grid-row: 2;
    vertical-align: text-bottom;
}

.dateDeDebut {
    grid-column: 1;
    grid-row: 2;
}

.dateDeFin {
    grid-column: 2;
    grid-row: 2;
}

.villeOffre {
    grid-column: 3;
    grid-row: 2;
}

.boutonMesCandidatures {
    grid-column: 4;
    grid-row: 2;
}

.nbMinEtudJour {
    grid-column: 1;
    grid-row: 3;
}

.nbMinHeuresEtud {
    grid-column: 2;
    grid-row: 3;
}

.nbMinEtudOffre {
    grid-column: 3;
    grid-row: 3;
}

.annonces {
    font-family: "Roboto", sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    align-items: left;
}

.uneannonce {
    background-color: #4FAFDE;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}

.infoOffre {
    font-family: "Roboto", sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
}

.sous-titre {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #999999;
    padding-left: 20px;
    padding-bottom: 10px;
}
.blackBorder {

    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
}

.checkHoraire
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 60px;
    background-color: rgb(243, 107, 107);
    outline: none;
    cursor: pointer;
    /*margin: 0%;
    padding-block: 0px;
    padding-inline: 0px;*/
}

.checkHoraire:checked
{
    background-color: rgb(191, 236, 140);
}

.noPadding
{
    padding: 0;
    height: 60px;
    width: 60px;
    margin: 0;
    /*display: flex;*/
    /*align-items: center;
    justify-content: center;*/
}

.celluleHoraire {
    /*width: 60px;*/
    display: table-cell;
}

.tableHoraire
{
    line-height: normal;
    white-space: normal;
    font-size: medium;
    font-weight: normal;
    font-style: normal;
    text-align: start;
    display: table;
}

.thJour
{
    height: 60px;
    width: 60px;
    display: table-cell;
    background-color: white;
}

.caserouge
{
    height: 60px;
    width: 60px;
    display: table-cell;
    background-color: rgb(243, 107, 107);
}

.caseverte
{
    height: 60px;
    width: 60px;
    display: table-cell;
    background-color: rgb(191, 236, 140);
}