body {
    margin: 0;
    background-color: #FFE4C5;
}

.wrapper {
    background-color: #F5AD5B;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    grid-auto-columns: minmax(100px, auto);
    border-bottom-style: groove;
}

.logo {
    grid-row: 1;
    grid-column: 1;
    margin: 10px;
}

.titre {
    grid-row: 1;
    grid-column: 2;
    color: rgb(1, 0, 82);
    text-align: center;
    font-family: britannic, bold, sans-serif;
}

.connexion {
    grid-row: 1;
    grid-column: 3;
    text-align: right;
    margin: 10px;
}


h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 30px;
}

.fondForm {
    margin: auto;
    width: 600px;
    height: 850px;
    background-color: white;
    border-radius: 30px;
    
}

textarea {
    resize: none;
    width: 230%;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 2px solid #c9c9c9;
    outline-color: #29ABE2;
}

.tabOffre {
    display: grid;
    padding: 25px;

}

td {
    text-align: start;
    padding: 3px;
}

.etoile {
    color: red;
}

.champs {
    width: 230%;
    height: 25px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 2px solid #c9c9c9;
    outline-color: #29ABE2;

}

.date {
    height: 25px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 2px solid #c9c9c9;
    outline-color: #29ABE2;
}

label {
    font-family: "Roboto", sans-serif;
}

.champsObl {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.btnDepot {
    margin-top: 10px;
    background-color: #29ABE2;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    margin-left: 85%;
}

.btnDepot:hover {
  transform: scale(1.05);
}

.btnDepot:active {
    background-color: #F5AD5B;
}