body {
    margin: 0;
    background-color: lightblue;
}

div.entete {
    background-color: orange;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    grid-auto-columns: auto;
}

div.entete > img {
    grid-row: 1;
    grid-column: 1;
}

div.entete > h1 {
    grid-row: 1;
    grid-column: 2;
    color: rgb(1, 0, 82);
    font-size: 25px;
    align-items: left;
}

div.entete > button {
    grid-row: 1;
    grid-column: 3;
    align-items: right;
}